.channel-header {
  padding: 5px 5px;
  font-size: 30px;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.agency-header {
  padding: 5px 5px;
  font-size: 15px;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
