
<form [formGroup]="myForm" >
    {{myForm.value | json}}
<mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Age" formControlName="age">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="email" formControlName="email">
</mat-form-field>

<div formArrayName="subs">
<div *ngFor="let sub of newSubs.controls; let i=index">
<div [formGroupName]="i">

    <mat-form-field>
        <mat-label>Your Team</mat-label>
        <mat-select formControlName="agency">
            <mat-option *ngFor="let agency of newsAgency" [value]="agency.name" [disabled]="isDisabled(agency.name)">
                {{agency.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

  <!--  <mat-form-field>
<input matInput placeholder="Agency" formControlName="agency">
    </mat-form-field>-->
   
    <mat-checkbox formControlName="sport" >Sports</mat-checkbox>
        <mat-checkbox formControlName="event">Events</mat-checkbox>
            <mat-checkbox formControlName="entertainment">Entertainment</mat-checkbox>
                <mat-checkbox formControlName="politics">Politics</mat-checkbox>
                <mat-checkbox formControlName="tech">Technology</mat-checkbox>

    <button mat-raised-button color="warn" (click)="deletePhone(i)"> Delete</button>
</div>

</div>
</div>
<button mat-raised-button color="primary" (click)="addPhone()"> Add</button>

</form>

