<mat-card>
  <mat-card-title> User Subscription Information </mat-card-title>
  <br />
  <form fxLayout="column" [formGroup]="myForm">
    <mat-form-field class="field">
      <input matInput placeholder="UserId" formControlName="uid" />
    </mat-form-field>

    <mat-form-field class="field">
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput placeholder="Age" formControlName="age" />
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput placeholder="email" formControlName="email" />
    </mat-form-field>

    <div formArrayName="subs">
      <div *ngFor="let sub of newSubs.controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field class="field">
            <mat-label>News Agency</mat-label>
            <mat-select formControlName="agency">
              <mat-option
                *ngFor="let agency of newsAgency"
                [value]="agency.name"
                [disabled]="isDisabled(agency.name)"
              >
                {{ agency.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!--  <mat-form-field>
<input matInput placeholder="Agency" formControlName="agency">
    </mat-form-field>-->

          <mat-checkbox formControlName="sport" class="field"
            >Sports</mat-checkbox
          >
          <mat-checkbox formControlName="event" class="field"
            >Events</mat-checkbox
          >
          <mat-checkbox formControlName="entertainment" class="field"
            >Entertainment</mat-checkbox
          >
          <mat-checkbox formControlName="politics" class="field"
            >Politics</mat-checkbox
          >
          <mat-checkbox formControlName="tech" class="field"
            >Technology</mat-checkbox
          >

          <button mat-raised-button color="warn" (click)="deletePhone(i)">
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="customFlexContainer">
      <div>
        <button mat-raised-button color="primary" (click)="addPhone()">
          Add
        </button>
      </div>
    </div>
  </form>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="submit()">Save</button>
  </mat-card-actions>
</mat-card>
