<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <span class="appname">News Juice</span>
    <button
      mat-button
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive
      #rla="routerLinkActive"
    >
      {{ link.label }}
    </button>
    <span class="header-spacer"></span>
    <span class="username">
      <button mat-button [matMenuTriggerFor]="menu">
        Welcome {{ userService.userName | titlecase }} !
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet> </router-outlet>
