nav a.active {
  color: blue;
}

.appname {
  padding: 0px 5px;
  font-size: 30px;
  font-family: cursive;
}

.username {
  padding: 0px 5px;
  font-size: 14px;
}

.header-spacer {
  flex: 1 1 auto;
}
