<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <span class="appname">News Juice</span>
    <button
      mat-button
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive
      #rla="routerLinkActive"
    >
      {{ link.label }}
    </button>
    <span class="header-spacer"></span>
    <span class="username">
      Welcome {{ userService.userName | titlecase }} !
    </span>
    <span>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet> </router-outlet>
