nav a.active {
  color: blue;
}

.appname {
  padding: 0px 5px;
  font-size: 30px;
  color: yellow;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

.username {
  padding: 0px 5px;
  font-size: 14px;
}

.header-spacer {
  flex: 1 1 auto;
}
