<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="appname">News Juice</span>
    <button
      mat-button
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive
      #rla="routerLinkActive"
    >
      {{ link.label }}
    </button>
    <span class="header-spacer"></span>
    <span class="username">Welcome {{ userName | titlecase }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet> </router-outlet>
